@import url(https://fonts.bunny.net/css?family=be-vietnam-pro:100,300,600);
:root {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    --bg: #202020;
    --fg: #dfdfdf;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
    overflow: hidden;
}
#navigation {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--bg);
}
.navbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--fg);
    margin: 20px;
}
.navbutton:hover {
    text-shadow: var(--fg) 0 0 5px !important;
    color: var(--fg) !important;
}
.navbutton:focus {
    text-shadow: #54a1f8 0 0 5px;
    color: #54a1f8;
}
.view {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    height: calc(100% - 80px);
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}
#homelogo {
    filter: invert();
    height: 250px;
    margin-left: 200px;
}
.hero {
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 42px;
    font-weight: 600;
}
#blur {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    translate: -50% -50%;
    backdrop-filter: blur(200px);
    z-index: -1;
}
#blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
        to right,
        #2f1e5e,
        #0a9768
    );
    z-index: -2;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: blob 20s linear infinite;
    filter: url("#wavy");
}
@keyframes blob {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
#grid {
  width: 800%;
  height: 800%;
  position: absolute;
  display: flex;
  z-index: 0;
}
.bgi {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 30px;
  background-size: cover;
  background-position: center;
  color: var(--bg);
}
.columnup {
    display: flex;
    flex-direction: column;
    top: -50%;
    animation: scroll 80s linear infinite reverse;
}
.columndown {
    display: flex;
    flex-direction: column;
    animation: scroll 80s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(-3200px);
    }
    100% {
        transform: translateY(-640px);
    }
}
#scroll {
    display: flex;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
}
.scrolltext {
    line-height: 20px;
    height: 20px;
    margin: 0;
}
#arrow {
    height: 20px;
    margin: 0 5px;
}
#home {
    opacity: 1;
    visibility: visible;
}
#about {
    opacity: 0;
    visibility: hidden;
}
#works {
    opacity: 0;
    visibility: hidden;
}
.work {
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition-duration: 1000ms;
    border-radius: 10px;
    border: 2px solid #505050;
    position: relative;
}
.workbox:hover, .work{
    width: 473px;
}
.description {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    transition-duration: 1000ms;
    text-shadow: #000 0 0 10px;
}
.workbox:hover .description{
    margin-top: 260px;
}
.cover {
    height: 250px;
}
.worksheader {
    width: calc(100% - 80px);
    text-align: left;
    margin-left: 10px;
    letter-spacing: 10px;
    font-size: 24px;
    font-weight: 100;
}
.name {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
}
.shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000000af);
}
.blur {
    width: 200%;
    height: 200%;
    backdrop-filter: blur(0);
}
#works-container {
    display: flex;
    width: calc(100% - 80px);
}
.description {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.workbox {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    transition-duration: 1000ms;
    position: relative;
    margin: 5px;
    min-width: 0px;
    flex-shrink: 100px;
    cursor: pointer;
}
#theme {
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 17px;
}
#poland {
    background: linear-gradient(0deg, rgba(213,19,58,1) 45%, rgba(247,247,247,1) 45%);
    background-clip: text;
    color: transparent;
}
.text {
    margin: 0;
    font-size: 18px;
}
.section {
    font-size: 22px;
    margin: 10px;
    margin-left: 0;
}
.lm {
    margin-left: 40px !important;
}
.aboutbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #e9772b;
    text-shadow: #e9772b 0 0 5px;
    font-size: 18px;
    margin: 0;
}       
.aboutbutton:hover {
    text-shadow: var(--fg) 0 0 5px !important;
    color: var(--fg) !important;
}
.aboutbutton:focus {
    text-shadow: #54a1f8 0 0 5px ;
    color: #54a1f8;
}
